
.section__info {
    background-image: url(../../img/Bitmap\ \(5\).png);
    position: absolute;
    width: 445px;
    height: 474px;
    flex-shrink: 0;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-left: 797px;
    margin-top: -550px;
    
}